@{
    ViewData["Title"] = "Всі ігри";
}
@model IEnumerable<Game>

<h3 class="p-2 bg-primary text-white text-center">Ігри</h3>

<div class="text-center">
    @Html.Partial("Pages", Model)

    @{
        ViewBag.searches = new string[] { "Name", "Category.Name" };
        ViewBag.sorts = new string[] { "Name", "Category.Name", "Price", "Description" };
    }
    @Html.Partial("PageOptions", Model)
</div>


<div class="container">

    <div class="row">
        <div class="col fw-bold">Назва</div>
        <div class="col fw-bold">Категорія</div>   
        <div class="col fw-bold">Опис</div>
        <div class="col fw-bold">Ціна</div>
        <div class="col"></div>
    </div>

    @foreach (Game g in Model)
    {
            <div class="row р-2">
                <div class="col">@g.Name</div>
                <div class="col">@g.Category.Name</div>
                <div class="col text-right">@g.Description</div>
                <div class="col text-right">@g.Price</div>
                <div class="col">
                    <form asp-action="DeleteGame" method="post">
                        <input type="hidden" name="GameId" value="@g.GameId">
                        <a asp-action="EditGame" asp-route-id="@g.GameId" class="btn btn-outline-primary">Редагувати</a>
                        <button type="submit" class="btn btn-outline-danger">Видалити</button>
                    </form>
                </div>
            </div>
    }

    <div class="text-cente r р-2">
        <a asp-action="EditGame" asp-route-id="0" class="btn btn-primary">Добавити</a>
    </div>

</div>